<!DOCTYPE html>
<html>
<head>
    <title>Todo APP</title>
    <link rel="stylesheet" href="../public//css//resetting.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <header> 
        <h1 class="txt-center">Todo App</h1>
        <input type="text" name="todoinput" > 
        <button id="add-btn">Add</button>
    </header>
    <ul type="none" id="options">
        
        <!-- li use -->
        <li class="option active">
            ALL
        </li>

        <li class="option">
            COMPLETED
        </li>

        <li class="option">
            PENDING
        </li>

    </ul>
    <ul id="todos">


        <li class="todo" >
            
            <span> 
                <button class="tick">
                    ✓      
                </button>
                Buy MILK 
            </span> 
            <button class="cross">
                 &#10060; 
            </button>
            
        </li >

        
        
        <li class="todo" >
            
            <span> 
                <button class="tick">
                    ✓      
                </button>
                Buy MILK 
            </span> 
            <button class="cross">
                 &#10060; 
            </button>
            
        </li >


        
        <li class="todo" >
            
            <span class="complete"> 
                <button class="tick">
                    ✓      
                </button>
                Buy MILK and Drink it
            </span> 
            <button class="cross">
                 &#10060; 
            </button>
            
        </li >


        
        <li class="todo" >
            
            <span> 
                <button class="tick">
                    ✓      
                </button>
                Buy MILK 
            </span> 
            <button class="cross">
                 &#10060; 
            </button>
            
        </li >

    
    </ul >

    
</body>
</html>
